<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h2>로그인</h2>
    <form action="{{ url_for('login') }}" method="post">
        {% if error  %}
            <p>{{ error  }}</p>
        {% endif %}
        <p>
            <label>아이디</label>
            <input type="text" name="memberid">
        </p>
        <p>
            <label>패스워드</label>
            <input type="password" name="passwd">
        </p>
        <p><input type="submit" value="로그인"></p>
    </form>
</body>
</html>