<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="container">
    {% include 'navbar.html' %}
    <section>
        <h2>로그인</h2>
        <form action="{{ url_for('login') }}" method="post" class="login">
            {% if error  %}
                <p>{{ error }}</p>
            {% endif %}
            <fieldset>
                <ul>
                    <li>
                        <label for="memberid">아이디</label>
                        <input type="text" id="memberid" name="memberid">
                    </li>
                    <li>
                        <label for="passwd">패스워드</label>
                        <input type="password" id="passwd" name="passwd">
                    </li>
                    <li>
                        <input type="submit" value="로그인">
                    </li>
                </ul>
            </fieldset>
        </form>
    </section>
</div>
</body>
</html>