<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 보기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {%  include 'navbar.html'  %}
   <h2>회원 정보</h2>
    <table>
        {% if rs %}
        <tr>
            <td>아이디</td>
            <td><input type="text" name="memberid" value="{{ rs[0] }}"> </td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="passwd" value="{{ rs[1] }}"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="name" value="{{ rs[2] }}"></td>
        </tr>
        <tr>
            <td>나이</td>
            <td><input type="text" name="age" value="{{ rs[3] }}"></td>
        </tr>
        <tr>
            <td>가입일</td>
            <td><input type="text" name="reg_date" value="{{ rs[4] }}"></td>
        </tr>
        <tr>
            <td colspan="2" style= "text-align:center">
                <a href="{{ url_for('memberlist') }}">목록 </a>
                {% if rs[0] == session['userID'] %}
                <a href="#">탈퇴 </a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    </table>
</body>
</html>