<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 보기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        {%  include 'navbar.html'  %}
        <section>
           <h2>회원 정보</h2>
            <table class="tbl_view">
                {% if rs %}
                <colgroup>
                    <col style="background-color:#eee">
                    <col>
                </colgroup>
                <tr>
                    <td>아이디</td>
                    <td><input type="text" name="memberid" value="{{ rs[0] }}"> </td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input type="password" name="passwd" value="{{ rs[1] }}"></td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td><input type="text" name="name" value="{{ rs[2] }}"></td>
                </tr>
                <tr>
                    <td>나이</td>
                    <td><input type="text" name="age" value="{{ rs[3] }}"></td>
                </tr>
                <tr>
                    <td>가입일</td>
                    <td><input type="text" name="reg_date" value="{{ rs[4] }}"></td>
                </tr>
                <tr>
                    <td colspan="2" style= "background-color:#fff">
                        <a href="{{ url_for('memberlist') }}" class="button">목록 </a>
                        {% if rs[0] == session['userID'] %}
                        <a href="{{ url_for('member_edit', id = rs[0]) }}" class="button">수정 </a>
                        <a onclick="return confirm('정말로 탈퇴하시겠습니까?')"
                            href="{{ url_for('member_delete', id = rs[0]) }}" class="button">탈퇴 </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </table>
        </section>
    </div>
</body>
</html>